
  <% if note.errors.any? %>
    <div class="alert alert-warning">
      <ul>
        <% note.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <% if @note.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% @note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>